<div class="slide-content grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-6">
      <div class="slide-title">
        <h1>
          {{slideTitle}}
        </h1>
      </div>
      <div class="content-links">
        {{#each links as |link|}}
          <a class="clearfix content-link show-for-large" href={{link.link}} target="_blank" rel="noopener">
            <div class="float-left content-link-icon">
              {{fa-icon link.icon prefix="fal" size="lg"}}
            </div>
            <div class="content-copy">
              <h4>{{link.type}}</h4>
              <p>
                <span class="underline">
                  {{{link.title}}}
                </span>
              </p>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
    <div class="cell large-6 paragraphs">
      <div>
        {{#each paragraphs as |paragraph|}}
          <p>
            {{{paragraph}}}
          </p>
        {{/each}}
      </div>
      <div class="content-links-mobile hide-for-large">
        {{#each links as |link|}}
          {{#if link.videoLink}}
            <a class="clearfix content-link-mobile" href={{link.link}} target="_blank" rel="noopener">
              {{{link.title}}}
            </a>
          {{else if link.listenLink}}
            <a class="clearfix content-link-mobile" href={{link.link}} target="_blank" rel="noopener">
              {{{link.title}}}
            </a>
          {{else}}
            <a class="clearfix content-link-mobile" href={{link.link}} target="_blank" rel="noopener">
              {{{link.title}}}
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
