<div class="grid-x grid-margin-x financials-content">
  <div class="cell medium-6">
    <h4>{{t "financials.auditorsReport.report.title"}}</h4>
    <p>{{t "financials.auditorsReport.report.paragraph1"}}</p>
    <p>{{t "financials.auditorsReport.report.paragraph2"}}</p>
    <p>{{t "financials.auditorsReport.report.paragraph3"}}</p>
    <h4>{{t "financials.auditorsReport.managementResponsibility.title"}}</h4>
    <p>{{t "financials.auditorsReport.managementResponsibility.paragraph1"}}</p>
  </div>
  <div class="cell medium-6">
    <h4>{{t "financials.auditorsReport.auditorResponsibility.title"}}</h4>
    <p>{{t "financials.auditorsReport.auditorResponsibility.paragraph1"}}</p>
    <h4>{{t "financials.auditorsReport.opinion.title"}}</h4>
    <p>{{t "financials.auditorsReport.opinion.paragraph1"}}</p>
    <h4>{{t "financials.auditorsReport.otherMatter.title"}}</h4>
    <p>{{t "financials.auditorsReport.otherMatter.paragraph1"}}</p>
    <div class="auditor-signature">
      <img src="{{host}}/interactives/2019annualreport/static/4a7fcdebfbc4a053/slides/auditors-sig.png" alt={{t "financials.auditorsReport.signature.alt"}} width="105" height="18">
      <p>
        {{t "financials.auditorsReport.signature.charteredAccountants"}}
        <br>{{t "financials.auditorsReport.signature.licensedPublicAccountants"}}
        <br>{{t "financials.auditorsReport.signature.date"}}
      </p>
    </div>
  </div>
</div>
