<div class="grid-x grid-margin-x financials-content">
  <div class="cell">
    <table>
      <tbody>
        <tr class="table-title">
          <td class="text-col">{{t "financials.balanceSheet.summarizedBalanceSheet"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.total2017"}}</td>
        </tr>
        <tr class="table-subtitle">
          <td class="text-col">{{t "financials.balanceSheet.currentAssets.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentAssets.cash.title"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.cash.total2018"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.cash.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentAssets.portfolioInvestments.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.portfolioInvestments.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.portfolioInvestments.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentAssets.accountsReceivable.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.accountsReceivable.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.accountsReceivable.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentAssets.prepaidExpenses.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.prepaidExpenses.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.prepaidExpenses.total2017"}}</td>
        </tr>
        <tr class="table-subtotal">
          <td class="text-col"></td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.total2018"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.currentAssets.total2017"}}</td>
        </tr>
        <tr class="table-subtitle">
          <td class="text-col">{{t "financials.balanceSheet.otherAssets.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.otherAssets.property.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.otherAssets.property.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.otherAssets.property.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.otherAssets.leaseInducement.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.otherAssets.leaseInducement.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.otherAssets.leaseInducement.total2017"}}</td>
        </tr>
        <tr class="table-total">
          <td class="text-col">{{t "financials.balanceSheet.totalAssets.title"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalAssets.total2018"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalAssets.total2017"}}</td>
        </tr>
        <tr class="table-subtitle">
          <td class="text-col">{{t "financials.balanceSheet.currentLiabilities.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentLiabilities.accountsPayable.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentLiabilities.accountsPayable.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentLiabilities.accountsPayable.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentLiabilities.deferredRevenue.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentLiabilities.deferredRevenue.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentLiabilities.deferredRevenue.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.currentLiabilities.unrealizedLoss.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentLiabilities.unrealizedLoss.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.currentLiabilities.unrealizedLoss.total2017"}}</td>
        </tr>
        <tr class="table-total">
          <td class="text-col">{{t "financials.balanceSheet.totalLiabilities.title"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalLiabilities.total2018"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalLiabilities.total2017"}}</td>
        </tr>
        <tr class="table-subtitle">
          <td class="text-col">{{t "financials.balanceSheet.fundBalances.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.fundBalances.capitalAssets.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.capitalAssets.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.capitalAssets.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.fundBalances.externallyRestricted.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.externallyRestricted.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.externallyRestricted.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.fundBalances.internallyRestricted.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.internallyRestricted.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.internallyRestricted.total2017"}}</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.balanceSheet.fundBalances.unrestricted.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.unrestricted.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.balanceSheet.fundBalances.unrestricted.total2017"}}</td>
        </tr>
        <tr class="table-subtotal">
          <td class="text-col">{{t "financials.balanceSheet.totalFundBalances.title"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalFundBalances.total2018"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalFundBalances.total2017"}}</td>
        </tr>
        <tr class="table-final-total">
          <td class="text-col">{{t "financials.balanceSheet.totalLiabilitiesAndFundBalances.title"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalLiabilitiesAndFundBalances.total2018"}}</td>
          <td class="num-col dollar-sign">$</td>
          <td class="num-col">{{t "financials.balanceSheet.totalLiabilitiesAndFundBalances.total2017"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
