<div class="grid-x grid-margin-x financials-content">
  <div class="cell">
    <table>
      <tbody>
        <tr class="table-title">
          <td class="text-col">{{t "financials.revenueAndExpenses.statementOfRevenue"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-subtitle">
          <td class="text-col">{{t "financials.revenueAndExpenses.revenue.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.revenue.investmentIncome.title"}}</td>
          <td class="num-col dollar-sign">{{t "currency"}}</td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.investmentIncome.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign">{{t "currency"}}</td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.investmentIncome.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.revenue.grants.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.grants.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.grants.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.revenue.other.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.other.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.other.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.revenue.unrealizedInvestmentIncome.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.unrealizedInvestmentIncome.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.unrealizedInvestmentIncome.total2017"}}</td>
        </tr>
        <tr class="table-subtotal">
          <td class="text-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.revenue.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-subtitle">
          <td class="text-col">{{t "financials.revenueAndExpenses.expenses.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col"></td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.expenses.research.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.research.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.research.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.expenses.administrative.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.administrative.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.administrative.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.expenses.amortization.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.amortization.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.amortization.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.expenses.facilities.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.facilities.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.facilities.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="text-col">{{t "financials.revenueAndExpenses.expenses.technicalSupport.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.technicalSupport.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.technicalSupport.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-subtotal">
          <td class="text-col"></td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.expenses.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-line-entry">
          <td class="">{{t "financials.revenueAndExpenses.excessOfExpensesOverRevenue.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.excessOfExpensesOverRevenue.total2018"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.excessOfExpensesOverRevenue.total2017"}}</td>
        </tr>
        <tr class="table-fund-balances">
          <td class="text-col">{{t "financials.revenueAndExpenses.fundBalancesBeginning.title"}}</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.fundBalancesBeginning.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign"></td>
          <td class="num-col">{{t "financials.revenueAndExpenses.fundBalancesBeginning.total2017"}}&nbsp;</td>
        </tr>
        <tr class="table-final-total">
          <td class="text-col">{{t "financials.revenueAndExpenses.fundBalancesEnd.title"}}</td>
          <td class="num-col dollar-sign">{{t "currency"}}</td>
          <td class="num-col">{{t "financials.revenueAndExpenses.fundBalancesEnd.total2018"}}&nbsp;</td>
          <td class="num-col dollar-sign">{{t "currency"}}</td>
          <td class="num-col">{{t "financials.revenueAndExpenses.fundBalancesEnd.total2017"}}&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
