<div class={{this.footerClass}}>
  <div {{on "mouseenter" this.handleMouseEnter}} {{on "mouseleave" this.handleMouseLeave}}>
    <button type="button" class="footer-icon-btn float-right" {{action "showBackground"}}>
      <div class="radial-progress">
        <div class="circle">
          <div class="mask left">
            <div class="fill"></div>
          </div>
          <div class="mask right">
            <div class="fill"></div>
          </div>
        </div>
      </div>
      {{fa-icon "camera-retro" prefix="fal" size="lg"}}
    </button>
  </div>
  {{#if @photoCredit}}
    <p class="footer-description float-right hover-text-reveal">
      <span>{{{@photoCredit}}}</span>
    </p>
  {{/if}}
</div>
