<div class="grid-x grid-margin-x financials-content">
  <div class="cell">
    <h4>{{t "financials.notes.subtitle"}}</h4>
    <p>{{t "financials.notes.paragraph1"}}</p>
    <p>{{t "financials.notes.paragraph2"}}</p>
    <p>{{t "financials.notes.paragraph3"}}</p>
    <p>{{t "financials.notes.paragraph4"}}</p>
    <p>{{t "financials.notes.paragraph5"}}</p>
  </div>
</div>
