{{head-layout}}
{{top-bar lightBackground=lightBackground}}
{{liquid-outlet}}
{{#if showDotNav}}
  {{dot-nav lightBackground=lightBackground}}
{{/if}}
{{#if showScrollArrowUp}}
  <div class="scroll-arrow scroll-arrow-up {{if lightBackground "light-background"}}"></div>
{{/if}}
{{#if showScrollArrowDown}}
  <div class="scroll-arrow scroll-arrow-down {{if lightBackground "light-background"}}"></div>
{{/if}}
