{{head-layout}}
<div class="background-row show-for-small-only">
  <div class="background-image" style={{this.backgroundStyle}}></div>
  {{#unless this.hideMobileOverlay}}
    <div class="background-overlay hover-reveal-hide"></div>
  {{/unless}}
</div>
<TopBar @lightBackground={{this.lightBackground}} />
{{#event-listener isTransitioning=this.isTransitioning transitionBack=(action "transitionBack") transitionNext=(action "transitionNext")}}
  {{liquid-outlet}}
  <div class="overlay"></div>
  {{lightbox-overlay}}
{{/event-listener}}
{{#if this.showDotNav}}
  <DotNav @lightBackground={{this.lightBackground}} />
{{/if}}
{{#if this.showScrollArrowUp}}
  <button type="button" class="scroll-arrow scroll-arrow-up-btn {{if this.lightBackground "light-background"}}" {{action "transitionBack"}}></button>
{{/if}}
{{#if this.showScrollArrowDown}}
  <button type="button" class="scroll-arrow scroll-arrow-down-btn {{if this.lightBackground "light-background"}} {{if this.scrollableContentPage "scroll-arrow-after-content"}} {{if this.bounceScrollArrowDown "bounce"}}" {{action "transitionNext"}}></button>
{{/if}}
{{#if this.fastboot.isFastBoot}}
  {{loading-screen}}
{{/if}}
