{{head-layout}}
<div class="background-row show-for-small-only">
  <div class="background-image" style={{backgroundStyle}}></div>
  {{#unless hideMobileOverlay}}
    <div class="background-overlay hover-reveal-hide"></div>
  {{/unless}}
</div>
{{top-bar lightBackground=lightBackground}}
{{#event-listener isTransitioning=isTransitioning transitionBack=(action "transitionBack") transitionNext=(action "transitionNext")}}
  {{liquid-outlet}}
{{/event-listener}}
{{#if showDotNav}}
  {{dot-nav lightBackground=lightBackground}}
{{/if}}
{{#if showScrollArrowUp}}
  <button class="scroll-arrow scroll-arrow-up-btn {{if lightBackground "light-background"}}" {{action "transitionBack"}}></button>
{{/if}}
{{#if showScrollArrowDown}}
  <button class="scroll-arrow scroll-arrow-down-btn {{if lightBackground "light-background"}} {{if scrollableContentPage "scroll-arrow-after-content"}} {{if bounceScrollArrowDown "bounce"}}" {{action "transitionNext"}}></button>
{{/if}}
{{#if fastboot.isFastBoot}}
  {{loading-screen}}
{{/if}}
