{{head-layout}}
{{top-bar lightBackground=lightBackground}}
{{liquid-outlet}}
{{#if showDotNav}}
  {{dot-nav lightBackground=lightBackground}}
{{/if}}
{{#if showScrollArrowUp}}
  <button class="scroll-arrow scroll-arrow-up-btn {{if lightBackground "light-background"}}" {{action "transitionBack"}}></button>
{{/if}}
{{#if showScrollArrowDown}}
  <button class="scroll-arrow scroll-arrow-down-btn {{if lightBackground "light-background"}}" {{action "transitionNext"}}></button>
{{/if}}
