<div class="background-row show-for-medium">
  <div class="background-image" style={{backgroundStyle}}>
    <div class="hover-reveal hover-reveal-gradient-right">
      <div class="quote quote-right">
        <h3 class="hover-reveal-quote">
          {{t "governingCyberspaceDuringACrisisInTrust.quote.quote"}}
        </h3>
        <h4 class="hover-reveal-quote-source">
          {{t "governingCyberspaceDuringACrisisInTrust.quote.source"}}
        </h4>
        <div class="hover-reveal-quote-line"></div>
      </div>
    </div>
  </div>
  {{video-background videoLink=videoLink}}
  <div class="background-overlay hover-reveal-hide"></div>
  <div class="background-gradient-overlay hover-reveal-hide"></div>
</div>
<div class="content-slide hover-reveal-hide">
  {{slide-content slideTitle=title paragraphs=paragraphs links=links}}
</div>
{{footer-photo}}
