<title>{{model.title}}</title>
<meta name="description" content={{model.description}}>
<meta property="og:title" content={{model.title}}>
<meta property="og:description" content={{model.description}}>
<meta property="og:type" content="article">
<meta property="og:site_name" content={{model.siteName}}>
<meta property="og:url" content={{model.url}}>
<meta property="og:image" content={{model.image}}>
<meta property="og:locale" content="en_CA">
<meta property="fb:app_id" content="995454813805233">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@CIGIOnline">
