<title>{{this.model.title}}</title>
<meta name="description" content={{this.model.description}}>
<meta property="og:title" content={{this.model.title}}>
<meta property="og:description" content={{this.model.description}}>
<meta property="og:type" content="article">
<meta property="og:site_name" content={{this.model.siteName}}>
<meta property="og:url" content={{this.model.url}}>
<meta property="og:image" content={{this.model.image}}>
<meta property="og:locale" content={{this.model.locale}}>
<meta property="fb:app_id" content="995454813805233">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@CIGIOnline">
