<div class="background-row background-outputs-activities"></div>
<div class="outputs-activities">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <h1>{{t "outputsAndActivities.title"}}</h1>
      </div>
    </div>
    <div class="grid-x grid-margin-x outputs-activities-content">
      <div class="cell">
        <div class="outputs-activities-header clearfix">
          <div class="publications-menu">
            {{#if this.isTypePublications}}
              {{t "publications"}}
            {{else}}
              <button type="button" class="view-publications-btn" {{action "setType" "publications"}}>
                {{t "publications"}}
              </button>
            {{/if}}
            <span>/</span>
            {{#if this.isTypeOpinions}}
              {{t "opinions"}}
            {{else}}
              <button type="button" class="view-opinions-btn" {{action "setType" "opinions"}}>
                {{t "opinions"}}
              </button>
            {{/if}}
            <span>/</span>
            {{#if this.isTypeEvents}}
              {{t "events"}}
            {{else}}
              <button type="button" class="view-events-btn" {{action "setType" "events"}}>
                {{t "events"}}
              </button>
            {{/if}}
          </div>
          <div class="outputs-activities-pagination">
            <button type="button" class="page-arrow {{if this.disablePrevious "disabled"}}" {{action "previousPage"}}>
              {{fa-icon "chevron-left" prefix="fal" size="sm"}}
            </button>
            {{#each this.paginationPages as |paginationPage|}}
              {{#if paginationPage.disabled}}
                <span class="page-number current">
                  {{paginationPage.page}}
                </span>
              {{else}}
                <button type="button" class="page-number" {{action "setPage" paginationPage.page}}>
                  {{paginationPage.page}}
                </button>
              {{/if}}
            {{/each}}
            <button type="button" class="page-arrow {{if this.disableNext "disabled"}}" {{action "nextPage"}}>
              {{fa-icon "chevron-right" prefix="fal" size="sm"}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x outputs-activities-content">
      {{#each this.objects as |object|}}
        <div class="cell small-12 medium-3">
          <a class="outputs-activities-listing show-for-small-only" href={{object.url_landing_page}} target="_blank" rel="noopener noreferrer">
            <h6>{{object.date_str}}<span>|</span>{{object.type_str}}</h6>
            <h5>
              <span class="underline">
                {{#if object.is_italic }}
                  <em>{{object.title}}</em>
                {{else}}
                  {{object.title}}
                {{/if}}
              </span>
            </h5>
          </a>
          <button type="button" class="outputs-activities-listing show-for-medium" {{action "openPublication" object.id}}>
            <h6>{{object.date_str}}<span>|</span>{{object.type_str}}</h6>
            <h5>
              <span class="underline">
                {{#if object.is_italic }}
                  <em>{{object.title}}</em>
                {{else}}
                  {{object.title}}
                {{/if}}
              </span>
            </h5>
          </button>
        </div>
      {{/each}}
    </div>
    <div class="grid-x outputs-activities-content">
      <div class="cell">
        <p class="page-count">
          {{t "outputsAndActivities.pageCount" page=this.currentPage total=this.totalPages}}
        </p>
      </div>
    </div>
  </div>
</div>
{{#if this.publication}}
  <div class="outputs-activities-overlay background-image" style={{this.overlayStyle}}>
    <div class="outputs-activities-overlay-container">
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-10">
            <button type="button" class="clearfix back-link" {{action "closePublication"}}>
              <div class="float-left back-link-icon {{this.publication.type}}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.22in" height="0.19in" viewBox="0 0 16 14">
                  <defs>
                    <clipPath id="a" transform="translate(-256.98 -317)" style="fill: none;">
                      <rect class="a" x="257" y="317" width="16" height="14"/>
                    </clipPath>
                  </defs>
                  <g class="b" style="clip-path:url(#a);">
                    <path d="M262.73,317.19a.69.69,0,0,1,.55-.19.81.81,0,0,1,.5.23.7.7,0,0,1,.2.52v2.5a14.77,14.77,0,0,1,6.38,1.16,4.83,4.83,0,0,1,2.63,4.66,5.53,5.53,0,0,1-.78,2.75,6.23,6.23,0,0,1-1.81,2.06.56.56,0,0,1-.45.11.6.6,0,0,1-.37-.23.43.43,0,0,1,0-.44,6,6,0,0,0,.28-3.48,2.82,2.82,0,0,0-1.91-1.8,12.18,12.18,0,0,0-3.91-.53v2.75a.7.7,0,0,1-.2.52.8.8,0,0,1-.5.23.7.7,0,0,1-.55-.19l-5.5-4.75a.76.76,0,0,1,0-1.12Z" transform="translate(-256.98 -317)"/>
                  </g>
                </svg>
              </div>
              <p>
                <span class="underline">{{t "back"}}</span>
              </p>
            </button>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-10">
            <h2>{{this.publication.title}}</h2>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-10">
            <div class="cigi-red-line"></div>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-10">
            <h6 class="pub-date">
              {{#unless this.isEvent}}
                {{this.publication.author_str}}
                <br>
              {{/unless}}
              {{this.publication.date_str}}
            </h6>
            <p class="publication-summary">{{{this.shortSummary}}}</p>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-10">
            <a class="clearfix read-link" href={{this.publication.url_landing_page}} target="_blank" rel="noopener noreferrer">
              <div class="float-left read-link-icon">
                {{fa-icon "file-alt" prefix="fal" size="lg"}}
              </div>
              <p>
                <span class="underline">
                  {{#if this.isArticle}}
                    {{t "outputsAndActivities.opinionLink"}}
                  {{/if}}
                  {{#if this.isEvent}}
                    {{t "outputsAndActivities.eventLink"}}
                  {{/if}}
                  {{#if this.isPublication}}
                    {{t "outputsAndActivities.publicationLink"}}
                  {{/if}}
                </span>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
