<div class="background-row chairs-message-background show-for-medium"></div>
<div class="hover-reveal hover-reveal-gradient-right presidents-message-background-img show-for-medium" style={{this.backgroundStyle}}>
  <div class="quote quote-right">
    <h3 class="hover-reveal-quote">
      {{t "presidentsMessage.quote"}}
    </h3>
    <div class="hover-reveal-quote-line"></div>
  </div>
</div>
<div class="chairs-message">
  <div class="grid-container">
    <div class="grid-x grid-margin-x hover-reveal-hide">
      <div class="cell">
        <h1>{{t "presidentsMessage.title"}}</h1>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-6 hover-reveal-hide">
        <p>{{t "presidentsMessage.paragraph1"}}</p>
        <p>{{t "presidentsMessage.paragraph2"}}</p>
        <p>{{t "presidentsMessage.paragraph3"}}</p>
      </div>
      <div class="cell medium-6 hover-reveal-hide">
        <p>{{t "presidentsMessage.paragraph4"}}</p>
        <p>{{t "presidentsMessage.paragraph5"}}</p>
        <p>{{t "presidentsMessage.paragraph6"}}</p>
        <div class="cigi-red-line"></div>
        <p class="chair-name">
          <b>{{t "presidentsMessage.signature.name"}}</b>
          <br><em>{{t "presidentsMessage.signature.title"}}</em>
        </p>
      </div>
    </div>
  </div>
</div>
{{footer-photo darkFooter=true}}
